<div class="mainparrafo">
  <mat-toolbar color="primary" class="maintoolbar">
    <button
      type="button"
      aria-label="Toggle sidenav"
      mat-icon-button
      (click)="tryToggle()"
    >
      <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
    </button>

    <span>Inventur</span>

    <span class="fill-remaining-space"></span>
    <app-logindetail-ui [user]="user$ | async" (logout)="onLogout()">
    </app-logindetail-ui>
  </mat-toolbar>
  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav
      #drawer
      class="sidenav"
      fixedInViewPort="true"
      [attr.role]="(isIPAD$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isIPAD$ | async) ? 'push' : 'side'"
      [opened]="!(isIPAD$ | async)"
    >
      <mat-nav-list>
        <a
          mat-list-item
          class="mainenlace"
          [routerLink]="['/sessions']"
          routerLinkActive="router-link-active"
          (click)="tryClose()"
        >
          <mat-icon style="margin: 3px">list</mat-icon>
          Sesions
        </a>
        <mat-accordion *ngIf="istbeowacthunguser$ | async">
          <mat-expansion-panel mat-list-item>
            <mat-expansion-panel-header>
              <mat-icon style="margin: 3px">access_time</mat-icon>
              Beobachtung
            </mat-expansion-panel-header>
            <a
              mat-list-item
              [routerLink]="['/beowach/home']"
              routerLinkActive="router-link-active"
              (click)="tryClose()"
            >
              <mat-icon>playlist_add_check</mat-icon>
              Beobachtungsliste
            </a>
            <mat-divider></mat-divider>
            <a
              mat-list-item
              [routerLink]="['/beowach/korrektur']"
              routerLinkActive="router-link-active"
              (click)="tryClose()"
            >
              <mat-icon>healing</mat-icon>
              Korrektur
            </a>
            <mat-divider></mat-divider>
            <a
              mat-list-item
              [routerLink]="['/beowach/controlliste']"
              routerLinkActive="router-link-active"
              (click)="tryClose()"
            >
              <mat-icon>format_shapes</mat-icon>
              Controlliste
            </a>
          </mat-expansion-panel>
        </mat-accordion>

        <!-- <a
          mat-list-item
          [routerLink]="['/beowach']"
          routerLinkActive="router-link-active"
          ><mat-icon style="margin: 3px">access_time</mat-icon>
          Beowachtung
        </a> -->
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content class="maincontent">
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
