<div *ngIf="!isloading" class="grafico">
  <canvas
    baseChart
    [datasets]="Datos"
    [labels]="Etiquetas"
    [options]="barChartOptions"
    [plugins]="barChartPlugins"
    [legend]="barChartLegend"
    [chartType]="barChartType"
  >
  </canvas>
</div>
<div *ngIf="!isloading" class="datos">
  <label class="titulo">ØL52WBestd:</label>
  <span class="valores">
    {{ PromedioBestandsL52W() | number: '1.1-1' }} {{ cuni }}
  </span>
  <label class="titulo">Bestand:</label>
  <span *ngIf="bestand && bestand[0]" class="valores">
    {{ bestand[0].menge }} {{ cuni }}</span
  >
  <label class="titulo">Dato2:</label>
  <span class="valores"> 0 {{ cuni }}</span>
  <label class="titulo">Dato3:</label>
  <span class="valores"> 0 {{ cuni }} </span>
</div>
