:host {
  display: flex;
  flex-direction: row;
  font-size: 12px;
  align-items: baseline;
  justify-content: flex-end
}

.totalelementos {
  display: flex;
}
.botones {
  display: flex;
  flex-basis: 0;
}
.numeropaginas {
  display: flex;
}
