mat-card {
  max-width: 400px;
  margin: 2em auto;
  text-align: center;
  background-color: grey;
}

.signin-content {
  padding: 60px;
  background-color: #58345f;
  height: 100%;
}
.full-width-input {
  width: 100%;
}

.titulo {
  color: white;
  text-align: center;
  margin: 20px;
  border: gold;
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
  padding: 10px;
}
