<div class="signin-content">
  <mat-card>
    <mat-card-content>
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <p>Anmelden Sie bitte</p>
        <mat-form-field class="full-width-input">
          <input
            matInput
            placeholder="Anwender"
            formControlName="userName"
            required
          />
          <mat-error *ngIf="isFieldInvalid('userName')">
            bitte geben Sie ihre Anwender name
          </mat-error>
        </mat-form-field>
        <mat-form-field class="full-width-input">
          <input
            matInput
            type="password"
            placeholder="Passwort"
            formControlName="password"
            required
          />
          <mat-error *ngIf="isFieldInvalid('password')">
            bitte geben Sie ihre Anwender Passwort
          </mat-error>
        </mat-form-field>
        <button mat-raised-button color="primary">Anmelden</button>
      </form>
    </mat-card-content>
  </mat-card>
</div>
