<div class="signin-content">
  <H1 class="titulo"> STOCK B.I.G GmbH: Lager Inventur </H1>
  <mat-card>
    <mat-card-content>
      <p>Melden Sie bitte an</p>
      <app-input-text
        [validador]="userName"
        placeholder="Anwender"
        isRequired="true"
        tipo="text"
      ></app-input-text>
      <app-input-text
        [validador]="passWord"
        placeholder="Passwort"
        isRequired="true"
        tipo="password"
      ></app-input-text>
      <button
        mat-raised-button
        color="primary"
        [disabled]="formconerrores | async"
        (click)="onSubmit()"
      >
        Anmelden
      </button>
    </mat-card-content>
  </mat-card>
</div>

<!-- <app-input-text
  [formcontrol]="teststring"
  placeholder="teststring"
  isRequired="false"
  tipo="text"
  [Validadores]="validadoresstring"
></app-input-text>
<app-input-text
  [formcontrol]="tesnumero"
  placeholder="testnumber"
  isRequired="false"
  tipo="number"
  [Validadores]="validadoresnumero"
></app-input-text> -->
