table {
  width: 100%;
}
tr.mat-header-row {
  height: 25px;
  background-color: black;
}
.mat-icon-button {
  width: 25px;
  height: 25px;
  line-height: 25px;
}

.mat-header-cell {
  color: white;
}
tr.mat-row {
  height: 25px;
}

th.mat-header-cell:first-of-type {
  padding-left: 12px;
}
td.mat-cell:first-of-type {
  padding-left: 12px;
}
.mat-column-artikelnr {
  text-align: right;
  padding-right: 10px;
}
.mat-column-disponible {
  text-align: right;
  padding-right: 10px;
}
.mat-column-meldungsbestand {
  text-align: right;
  padding-right: 10px;
}
.mat-column-select {
  overflow: initial;
}

.yapedido {
  background: lightseagreen;
}

.ullimpio {
  display: flex;
  list-style-type: none;
  margin:0;
  padding: 0;
}


.mi-mat-figure{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  padding: 0 0 0 5px;
  margin: 0;
}
.lagerplatz{
  flex-basis: 80px;
  padding: 0 5px 0 5px;
  border: gray;
  border-style: none none none solid;
  align-self: stretch;
  border-width: thin;
  line-height: 36px;
  min-width: 65px;
  text-align: center;
}
