<div *ngIf="loading == null">
  isLoading Data...
</div>
<div *ngIf="loading != null">
  <mat-table [dataSource]="sesiones">
    <ng-container matColumnDef="idSesion">
      <th mat-header-cell *matHeaderCellDef>Id</th>
      <td *matCellDef="let sesion">
        {{ sesion.idSesion }}
      </td>
    </ng-container>
    <ng-container matColumnDef="started">
      <th mat-header-cell *matHeaderCellDef>Started</th>
      <td mat-cell *matCellDef="let sesion">
        {{ sesion.started }}
      </td>
    </ng-container>
    <ng-container matColumnDef="lager">
      <th mat-header-cell *matHeaderCellDef>Lager</th>
      <td mat-cell *matCellDef="let sesion">
        {{ sesion.lager }}
      </td>
    </ng-container>

    <tr
      mat-header-row
      *matHeaderRowDef="['idSesion', 'started', 'lager']; sticky: true"
    ></tr>
    <tr
      mat-row
      *matRowDef="let row; columns: ['idSesion', 'started', 'lager']"
    ></tr>
  </mat-table>
</div>
